:root {
    --blue: #3639AE;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.nav-container, .nav-izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13.5vh;
    height: 100vh;
    border: 1px solid rgb(233, 219, 219);
}

.nav-container {
    border: none;
    height: 40rem;
}

.icons-virus {
    width: 55%;
}

.icons-svg path {
    fill: var(--blue);
}

.icons-svg {
    width: 30px;
    padding: 1rem;
    border-radius: 5px;
}

.icons-svg.hover{
    background-color: var(--blue);
}

.icons-svg.hover path {
    fill: white;
}

.icons {
    display: flex;
   justify-content: center;
}
