:root {
  --main-font-1: "Poppins", sans-serif;
  --blue: #3639ae;
}

* {
  font-family: var(--main-font-1);
  margin: 0;
  padding: 0;
  /* outline: 1px red solid; */
  font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.nav-container {

    background: white;
}

.nav-container,
.nav-izq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border: 1px solid rgb(233, 219, 219);
}

.nav-container {
  display: flex;
  height: 100vh;
}

.icons-virus {
  width: 55%;
  animation: rotation 5s infinite linear;
  

}

@keyframes rotation {
    from{
        
        transform: rotate(0deg);
    }
    to{
        
        transform: rotate(360deg);
    }
}

.icons-svg path {
  fill: var(--blue);
}

.icons-svg {
  width: 30px;
  padding: 1rem;
  border-radius: 5px;
}

.icons-svg:hover {
  background-color: var(--blue);
}

.icons-svg:hover path {
  fill: white;
}

.icons-svg.active {
  background-color: var(--blue);
}

.icons-svg.active path {
  fill: white;

}

.icons, .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COVID TRACKER */

.tracker {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
  height: 100vh;
  padding: 1.3rem;
  width: 240px;
  border-right: 1px solid rgb(233, 219, 219);
  z-index: 10;
  gap: 1rem;
  background: white;
  overflow: auto;
}

.seccion-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.content-tracker {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  flex-wrap: wrap;
}

#red {
  background-color: #ff00001c;
}

.rednumber {
  font-weight: 800;
  font-size: 4rem;
}

#yellow {
  background-color: rgba(255, 255, 0, 0.068);
}

#green {
  background-color: rgba(0, 128, 0, 0.151);
}

#blue {
  background-color: rgba(0, 0, 255, 0.096);
}

.tracker-title {
  font-size: 1.5rem;
  white-space:nowrap;

}

.tracker-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(1, 1, 112);
}

.tracker-number1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 46, 46);
}

.tracker-number2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: orange;
}

.tracker-number3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: green;
}

.tracker-number4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: blue;
}

.seccion-2, .flag-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 2rem;
}

.section2content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-flag-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2title {
  font-weight: 600;
  color: rgb(1, 1, 112);
  font-size: 1.2rem;
}

.section2contentFlag {
  width: 2.8rem;
  border-radius: 5px;
}

.section2contentText {
  font-weight: 400;
  margin-left: 1rem;
}

.section2contentNumber {
  font-weight: 600;
  color: rgb(1, 1, 112);
}

.tracker4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
  background: #F7F8FC;
}

.country {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 1rem;
}

.country img {
  width: 200%;
  /* height: 5vh; */
  border-radius: 5px;
}

.foto {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(224, 224, 224);
}

.foto img {
  width: 4rem
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;  
  background: #F7F8FC;
  
}

.top-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  background: white;
  padding: 1rem 0rem;
  /* height: 7vh; */
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  width: 100%;
  justify-content: center;
}

.tracker5{
    background: #F7F8FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.track{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    }

.tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    width: max-content;
    gap: 10px;
    box-shadow: 0px 0px 10px rgb(224, 224, 224);
    padding: 0.8rem 1rem;
    border-radius: 5px;
}

.tarjeta p {
  font-weight: 500;
}

.tarjeta picture {
  width: 1.5rem;
  height: 1.5rem;
}

.tarjeta:hover {
  background: var(--blue);
  transition: all 0.5s ease;
  cursor: pointer;
}

.tarjeta:hover p {
  color: white;
}

.tarjeta:hover picture {
  box-shadow: none;

}

.trackers {
    grid-area: trackers;
    width: 90%;
}


.inactive {
  display: none;
}


.table-img {
  width: 100%;
  border-radius: 5px;
}

.info-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding: 1rem;
  background: #F7F8FC;

}

.main-container h1 {
  background: white;
  padding: 1rem;
}

#table_wrapper {
  background: white;
  padding: 1rem;
}

.column h3 {
  white-space:nowrap;
}

.tabs.five {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tarjeta img {
  height: 100%;
}

.tarjeta.active {
  background: #3639ae;
}

.tarjeta.active p {
  color: white;
}

.tarjeta.active picture {
  box-shadow: none;
}